*{
    box-sizing: border-box;
}

body{
    width: 100%;
}
h1{
    color:#ffc600;
    font-family: 'Indie Flower', cursive;
    font-size: 70px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    width: 21em;
    padding-top: 50px;
   /* added animation property to show the character one at a time*/
    animation: type 10s steps(100, end); 
    display: inline-block;
 }
  @keyframes type{ 
   from { 
        width: 0; 
        } 
    }

nav ul li {
    display: inline-block;
}
li{
    padding-top: 10px;
}
  nav ul li a{
    padding: 30px;
    color: #f5f0e1;
    font-size: xx-large;
    text-decoration: none;
}
header{
    background-size: cover;
    background-color: #2C0A28;
    height: 100px;
    width: 100%;
    font-family: 'Indie Flower', cursive;
    position: static;
}
 #section-top img{
    display: inline-block;
    padding-top: 100px;
    text-align: center;
    height:400px ;
    width: 30%;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 47px;
    transform: scale(1.1);
 }
 #section-left{
     background-image: url(https://img.freepik.com/free-vector/white-3d-modern-background-design_53876-88246.jpg?size=626&ext=jpg);
     background-size: cover;
     width: 68%;
     float: left;
     padding-top: 30px;
     padding-bottom: 30px;
     margin-left: 80px;
     margin-bottom: 65px;
     height: 400px;
     font-family: 'Amiri', serif;
     background-color: rgb(247, 247, 191);
     opacity: 0.7;
 }
#icon{
    width: 60px;
    height: 60px;
}
#Quot{
       width: 800px;
    text-align: center;
    font-size: x-large;
    margin-left: 94px;
    color:#4b0c3b;
  
}
h3{
    font-size: 50px;
    padding-bottom: 20px;
    position: relative;
    right: 30px;
    font-family: 'Amiri', serif;
    color: #ffc600;
    color: red;
    cursor: pointer;
    display: inline-block;
}
footer{
    clear: both;
    background-size: cover;
    background-color: #2C0A28;
    height: 150px;
    width: 100%;
}
footer p{
    padding-top:50px;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 587px;
    color:antiquewhite;
}
#section-down{
    text-align: center;

    margin-top: 100px;
    margin-left: 50px;
    line-height: 40px;
}
#section-right{
    margin-top: 8px;
    margin-left: 50px;
    line-height: 40px;
    background-color:#e0bcd9;
    border: 1px solid  #ebcfe5;
    border-radius: 12px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: -webkit-center;
    position: static;
    height: 400px;
    width: 20 px;
    float: left;
}

#move-left{
    width: 20px;
    height: 20px;
    border: solid #ffc600;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    background-color: transparent;
    position: relative;
    bottom: 140px;
    left: 37px;
}

#move-right{
    width: 20px;
    height: 20px;
    border: solid #ffc600;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background-color: transparent;
    position: relative;
    bottom: 140px;
    left: 905px;

}

footer ul li{
    display: inline-block;
}



#popup-form {
width:100%;
height: 100%;
background-color: rgba(128, 128, 128, 0.678);
position: fixed;
z-index: 1;
display: none;

}
#popup-form form{
margin: auto;
margin-top:40px;
width: 1000px;
height: 600px;
background-color: white;
padding: 50px;
border:  1px solid black;

}

#popup-form form div {
display: block;
text-align: right;
padding: 20px;

}
#popup-form form div label{
font-size: x-large;
}
#popup-form form img {
    position: fixed;
    width: 500px;
    height: 600px;
    border: solid 1px black;
}

#printText{
position: absolute;
display: inline-block;
width: 210px;
max-width: 210px;
word-wrap:break-word;
margin-left: 130px;
margin-top: 170px;
font-size: xx-large;
display: inline-block;
font-family: 'Amiri', serif;
font-family: 'Changa', sans-serif;
opacity: 0.8;

}
#printText p{
text-align: center;
opacity: 0.8;
}

 .fa {
    padding: 10px;
    width: 50px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;

  }
  
  .fa:hover {
      opacity: 0.4;
  }

