*{
    box-sizing: border-box;
}

body{
    width: 100%;
}
h1{
    background-image: url(https://media.swncdn.com/cms/CCOM/65092-proverbs-bible.1200w.tn.jpg);
    background-size: cover;
    height: 650px;
    width: 100%;
    background-repeat: no-repeat;
    color:#ffc600;
    font-family: 'Indie Flower', cursive;
    font-size: 70px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 50px;
   /* added animation property to show the character one at a time*/
    animation: type 3s steps(100, end); 
    display: inline-block;
 }
  @keyframes type{ 
   from { 
        width: 0; 
        } 
    }

nav ul li {
    display: inline-block;
    padding-top:35px;
    padding: 30px;
}
li:last-child{
    padding-right:50px;
}
    
  nav ul li a{
    color: #f5f0e1;
    font-size: xx-large;
    text-decoration: none;
  }
header{
    background-size: cover;
    background-color: #2C0A28;
    height: 100px;
    width: 100%;
    font-family: 'Indie Flower', cursive;
    position: static;
}
 #section-top img{
    display: inline-block;
    padding-top: 50px;
    text-align: center;
    height:450px ;
    width: 33%;
    padding-right: 70px;
    padding-left: 70px;

 }
 #section-left{
     background-image: url(https://img.freepik.com/free-vector/white-3d-modern-background-design_53876-88246.jpg?size=626&ext=jpg);
     background-size: cover;
     width: 68%;
     float: left;
     padding-top: 30px;
     padding-bottom: 30px;
     margin-left: 80px;
     margin-bottom: 65px;
     height: 400px;
     font-family: 'Amiri', serif;
     opacity: 0.7;
     border-radius: 12px;
     color:#4b0c3b;  
 }
 a:hover{
    background-color:#ffc600;
    opacity: 0.7;
    color:#4b0c3b
}
 
#icon{
    float: left;
    width: 50px;
    height: 65px;
    position: relative;
    left: 285px;
    top: 1px;
}
#Quot{
       width: 800px;
    text-align: center;
    font-size: x-large;
    margin-left: 94px;
    color:#4b0c3b;
  
}
h3{
    font-size: 50px;
    padding-bottom: 20px;
    position: relative;
    right: 30px;
    font-family: 'Amiri', serif;
    color: #ffc600;
    cursor: pointer;
    display: inline-block;}
    h3:hover {
     transform: scale3d(1.1,1.2,1.3);
    }
      

footer{
    clear: both;
    background-size: cover;
    background-color: #2C0A28;
    height: 150px;
    width: 100%;
}
footer p{
    padding-top:50px;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 587px;
    color:antiquewhite;
}
#section-down{
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;
    line-height: 40px;
}
#section-right{
    background-image: url(https://img.freepik.com/free-vector/white-3d-modern-background-design_53876-88246.jpg?size=626&ext=jpg);
   background-position: right;
    margin-top: 1px;
    margin-left: 80px;
    line-height: 40px;
    border: 1px solid #f0eaee;
    color: #2C0A28;
    border-radius: 12px;
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 30px;
    position: static;
    height: 400px;
    width: 15%;
    float: left;
}
 #trinding li{
    color:#721467;
    list-style-type: square;
list-style-position: inside;
text-align: justify;

}
#move-left{
    width: 35px;
    height: 35px;
    border: solid #ffc600;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    background-color: transparent;
    position: relative;
    bottom: 140px;
    right: 430px;
}

#move-right{
    width: 35px;
    height: 35px;
    border: solid #ffc600;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background-color: transparent;
    position: relative;
    bottom: 140px;
    left: 430px;

}

footer ul li{
    display: inline-block;
}



#popup-form {
width:100%;
height: 100%;
background-color: rgba(128, 128, 128, 0.678);
position: fixed;
z-index: 1;
display: none;

}
#popup-form form{
margin: auto;
margin-top:40px;
width: 1000px;
height: 600px;
background-color: white;
padding: 50px;
border:  3px solid  #ffc600;

}

#popup-form form div {
display: block;
text-align: right;
padding: 20px;

}
#popup-form form div label{
font-size: x-large;
}
#popup-form form img {
    position: fixed;
    width: 500px;
    height: 500px;
    border: 3px solid  #ffc600;
}

#printText{
position: absolute;
display: inline-block;
width: 210px;
max-width: 210px;
word-wrap:break-word;
margin-left: 140px;
margin-top: 170px;
font-size: xx-large;
display: inline-block;
font-family: 'Amiri', serif;
font-family: 'Changa', sans-serif;
opacity: 0.8;

}
#printText p{
text-align: center;
opacity: 0.8;
}

 .fa {
    padding-top:20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    /* margin: 5px 2px; */
    border-radius: 50%;
    color: #ffc600;

  }
  .fa-facebook
  {
      margin-left:670px;
  }
  .fa:hover {
      opacity: 0.4;
  }

